.header-blue {
  background: linear-gradient(135deg, cyan, #ffb3c5);
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 10px;
}
.header-blue .navbar .navbar-brand {
  font-weight: bold;
  color: inherit;
}
.header-blue .navbar .navbar-brand:hover {
  color: #f0f0f0;
}
.header-blue .navbar .navbar-collapse {
  border-top: 1px solid aliceblue;
  margin-top: .5rem;
}
.header-blue .navbar .navbar-collapse span .login {
  color: #fff;
  margin-right: .5rem;
  text-decoration: none;
}
.header-blue .navbar .navbar-toggler {
  border-color:aliceblue;
  border: 9px;
}
.header-blue .navbar.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.header-blue .navbar.navbar-light .navbar-nav .nav-link:focus, .header-blue .navbar.navbar-light .navbar-nav .nav-link:hover {
  color: #fcfeff;
  background-color: transparent;
}


.telgst{
  font-size: 18px;
  font-weight: bolder;
  color: white;
  text-decoration: none;
}

.dropdown-toggle {
  font-size: 25px;
  text-align: right;
  color: aliceblue;
  transition: all 0.3s;
}.dropdown-toggle:hover{
  color:#444;
}.dropdown-toggle:focus{
  color:#444;
}
.form-inline{
  width: 90%;
  justify-content: end;
}
.headerApart{
  overflow: hidden;
  height: 65em;
  padding: 1em 0 0 0;
  background-image: url('../Images/intoB.jpeg');
  background-size: cover;
  background-position: center;
  padding: 1em 2em 1em 2em;
  font-weight: bold;
  color: aliceblue;
}
.zoneHeadHalf{
  height: 35em;
}
.pHead{
  font-size: large;
}
@media (max-width: 769px) {
  .form-inline{
    justify-content: center;
    width: 100%;
  }
  .headerApart{
    display: none;
  }
}



.ondeante {
  position: absolute;
  width: 0;
  height: 0;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: ripple 0.6s linear;
}

@keyframes ripple {
  to {
      width: 300px;
      height: 300px;
      opacity: 0;
  }
}


/*-----------SECTOR1-------------SECTOR1-------------SECTOR1-----------*/
.antChars{
  text-align: center;
  font-weight: bold;
  margin: 4em 0 2em 0;
}
.chars{
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 3em;
  margin: 0 auto;
  text-align: center;
  margin:0 15em 0 15em;
}
.charBox{
  height: 35em;
  padding: 1em;
  margin-bottom: 2em;
  border:darkcyan solid;
  color: darkcyan;
  transition: 0.5s;
  border-radius: 15px;
}
.charBox:hover{
  border: darkslategrey solid;
  color: darkslategrey;
  transform: scale(1.05);
}
.charAux{
  height: 88%;
}
.imgChar{
  width: 30%;
}
.titChar{
  font-size:25px;
  font-weight:bold;
  color: black;
}
.carsChar{
  font-size: medium;
}
.infoChar{
  padding: 10px 30px;
  font-size: larger;
  font-weight: bolder;
  background-color: #184e8e;
  color: aliceblue;
  transition: background-color 0.3s;
  border: none;
}
.infoChar:hover{
  background-color: #444;
}
/*-----------SECTOR2-------------SECTOR2-------------SECTOR2-----------*/
.textBoxes{
  margin: 8em 0 8em 0;
  max-height: 50em;
}
.textBoxA,.textBoxR{
  width: 50%;
  transition: border 0.2s;
}
.textBoxUn{
  text-align: center;
  padding: 20px 0 20px 0;
  background-color: #184e8e;
  color: aliceblue;
  margin: 0 -15px 0 -15px;
}
.textBoxDuo{
  text-align: center;
  padding: 20px 0 20px 0;
  background-color:darkred;
  color: aliceblue;
  margin: 0 -15px 0 -15px;
}
.textBoxSecA,
.textBoxSecR{
  margin: 0 5% 0 5%;
  transition: border 0.1s;
}
.textBoxA:hover{
  border-bottom: solid #184e8e 3px;
  border-top: none;
}
.textBoxR:hover{
  border-bottom: solid darkred 3px;
  border-top: none;
}
.imgSect{
  height: 20em;
}
.despTest{
  transition: all 0.3s;
}
.despBott{
  color: #184e8e;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 10px;
}
.desp{
  display: none;
}
.separator{
  padding: 1px;
  background-color: #184e8e;
  border-radius: 5px;
}
.depBloc{
  transition: all 0.5s ease;
  margin-top: 1em;
}
.foot{
  display: flex;
  margin: 6em 0 1em 0;
  color: #184e8e;
  border: solid darkslategrey 2px;
  height: 15em;
  text-align: center;
  align-items: center;
}
.foot div{
  width: 100%;
}
.footBox{
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.footBox p{
  margin: 0 30px 0 30px;
}
